*.log
target
node_modules
lib
bin

# IDEs
.idea
*.iml
.project
.classpath
.settings
.apt_generated
.factorypath
.externalToolBuilders
.vscode/

data
wip
skip-replace-inject.txt
.flattened-pom.xml
FrankConfig.xsd
CLAUDE_CONTEXT.md