<ng-template #modal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="settingsModal">Options</h5>
    <button type="button" class="close" (click)="modal.dismiss()">
      <span>&times;</span>
    </button>
  </div>
  <form [formGroup]="settingsForm" (ngSubmit)="saveSettings()">
    <div class="modal-body">
        <div class="form-group form-check-inline">
          <input data-cy-test-settings="showStorageIds" class="form-check-input" type="checkbox" formControlName="showReportStorageIds" >
          <label class="form-check-label transform-label">
            Show report storage IDs
          </label>
        </div>
        <div class="form-group form-check-inline">
          <input class="form-check-input" type="checkbox" formControlName="showCheckpointIds">
          <label class="form-check-label transform-label">
            Show checkpoint IDs
          </label>
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-info" (click)="resetSettings(); modal.dismiss();"><i class="fa fa-undo"></i></button>
      <button data-cy-test-settings="save" type="submit" class="btn btn-info" (click)="modal.dismiss()"><i class="fa fa-save"></i></button>
    </div>
  </form>
</ng-template>
