.upload {
  display: none;
}

.table-wrapper {
  width: 100% !important;
  flex-flow: column;
  height: 100%;
}

.header-cell > div {
  margin: 0 auto auto 0;
}

/* TODO: Does this belong in another component? */
.filter-header {
  vertical-align: middle;
  padding-right: 0.25rem;
}

.input-field {
  width: 4rem;
}

/* TODO: Does this belong in another component? */
.filter-option {
  height: fit-content;

  > span {
    font-size: 9pt;
  }
}

.progress-report-timeout {
  color: red;
  margin: 0;
  width: fit-content;
}

.button-row {
  margin: 0.25rem 0.25rem 0.75rem 0.25rem;
}

.button-row,
.progress-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem 0.375rem;
  flex-wrap: wrap;
}

.dropdown-checkbox {
    display: block;
    width: 100%;
    padding-left: 1.5rem;
    padding-bottom: 0rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-checkbox-label {
  padding-left: .7rem;
}

.dropdown-separator {
  margin-top: .4rem;
  margin-bottom: .4rem;
}
