<!--    Report list panel-->
<div class="row">
  <div class="row">
    <app-button [icon]="'fa fa-undo'" [title]="'Refresh'"></app-button>
    <app-button [icon]="'fa fa-cog'" [title]="'Settings'" (click)="open(content)"></app-button>
    <app-button [icon]="'fa fa-upload'" [title]="'Upload'"></app-button>
    <app-dropdown [icon]="'fa fa-download'" [title]="'Download'" [items]="['Reports & Messages', 'Reports', 'Messages']"></app-dropdown>
    <app-button [title]="'Open All'" [text]="'Open All'"></app-button>
    <div class="col-md-2 float-md-right">
      <form class="form-horizontal pt-2">
        <label for="tableLimit" class="sr-only">Table Limit</label>
        <div class="input-group-append">
          <input type="number" class="form-control px-1" placeholder="0" id="tableLimit"
                 aria-describedby="table-limit" ng-model="$ctrl.limit" ng-change="$ctrl.updateFilter('limit', $ctrl.limit);">
          <div class="input-group-text">/00</div>
        </div>
      </form>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
      <tr>
        <th ng-repeat="column in $ctrl.columns" ng-click="$ctrl.updateOrder(column)">
          <i class="fa" ng-class="{'fa-sort-up': $ctrl.filters['order'] === 'ascending', 'fa-sort-down': $ctrl.filters['order'] === 'descending'}" ng-show="column === $ctrl.filters['sort']"></i>

        </th>
      </tr>
      <tr>
        <th ng-repeat="column in $ctrl.columns">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Filter" ng-model="meta.filter"
                   ng-change="$ctrl.updateFilter(column, meta.filter);">
          </div>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="metadata in $ctrl.metadatas" ng-click="$ctrl.selectReport(metadata)">
        <td ng-repeat="column in $ctrl.columns"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Options</h5>
    <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body container">
    <form>
      <div class="form-group">
        <label for="generatorEnabledSelect">Report generator</label>
        <select class="form-control custom-select mr-sm-2" id="generatorEnabledSelect"
                ng-model="$ctrl.options['generatorEnabled']">
          <option ng-value="true">Enabled</option>
          <option ng-value="false">Disabled</option>
        </select>
      </div>
      <div class="form-group">
        <label for="reportFilterInput">Report filter (regex)</label>
        <input type="text" class="form-control" id="reportFilterInput"
               ng-model="$ctrl.options['regexFilter']">
      </div>
      <div class="form-group">
        <label for="openLatestReports">Open latest reports</label>
        <div class="input-group">
          <input type="number" class="form-control" placeholder="10" ng-model="$ctrl.options['openLatest']"
                 id="openLatestReports"/>
          <div class="input-group-append">
            <button class="btn btn-info" type="button" ng-click="openLatestReports($ctrl.options['openLatest'])">Open</button>
          </div>
        </div>
        <div class="form-check-inline ml-1 mt-2">
          <input class="form-check-input" type="checkbox" id="openReportCheckbox">
          <label class="form-check-label" for="openReportCheckbox">
            Exclude reports with empty report.xml
          </label>
        </div>
      </div>
      <div class="form-group ">
        <label for="openInProgressNo">Open report in progress number</label>
        <div class="input-group">
          <input type="number" class="form-control" placeholder="1" id="openInProgressNo"
                 ng-model="$ctrl.options['openInProgress']"/>
          <div class="input-group-append">
            <button class="btn btn-info" type="button">Open</button>
          </div>
        </div>
      </div>
      <div class="dropdown-divider"></div>
      <div class="form-group form-check-inline">
        <input class="form-check-input" type="checkbox" value="" id="reportTransformationCheck"
               ng-model="$ctrl.options['transformationEnabled']">
        <label class="form-check-label transform-label" for="reportTransformationCheck">
          Report.xml Transformations
        </label>
      </div>
      <div class="form-group" ng-show="$ctrl.options['transformationEnabled']">
        <label for="transformationTextarea">Transformation</label>
        <textarea class="form-control" id="transformationTextarea"
                  rows="10"></textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" ng-click="$ctrl.updateOptions()"><i class="fa fa-undo"></i></button>
    <button type="button" class="btn btn-info" ng-click="$ctrl.saveOptions()"><i class="fa fa-save"></i></button>
  </div>
</ng-template>
