<!--Debug panel-->
<div class="resizable-vertical row pl-3" style="min-height: 50px">
  <div class="w-100">
    <app-table (emitEvent)="addReport($event)"></app-table>
  </div>
</div>
<div class="row pl-3" style="min-height: 200px">
  <div class="resizable-horizontal pr-3 border-right">
    <app-tree [reports]="reports" (emitEvent)="selectReport($event)"></app-tree>
  </div>
  <!-- Content panel-->
  <div class="col overflow-auto" >
    <app-display [report]="currentReport"></app-display>
  </div>
</div>
