<div class="row">
    <div class="col-4">
        <div id="tree"></div>
    </div>
    <div class="col-8">
        <div class="row">
            <button type="button" class="btn btn-outline-primary col" ng-click="refresh()">Refresh</button>
            <button type="button" class="btn btn-outline-primary col" ng-click="runReport(getSelectedReports())">Run
            </button>
            <button type="button" class="btn btn-outline-primary col" ng-click="resetRunner()">Reset</button>
            <button type="button" class="btn btn-outline-primary col" data-toggle="modal" data-target="#optionsModal">
                Options
            </button>
            <button type="button" class="btn btn-outline-primary col" ng-click="changeSelectedAll(true)">Select All
            </button>
            <button type="button" class="btn btn-outline-primary col" ng-click="changeSelectedAll(false)">Deselect All
            </button>
            <button type="button" class="btn btn-outline-primary col" ng-click="deleteReports(getSelectedReports())">
                Delete
            </button>
            <div class="input-group col-md-2">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Download Selected <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" ng-click="downloadReports(getSelectedReports(), true, true)">Reports & Messages</a></li>
                        <li><a href="#" ng-click="downloadReports(getSelectedReports(), false, true)">Reports</a></li>
                        <li><a href="#" ng-click="downloadReports(getSelectedReports(), true, false)">Messages</a></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <input type="file" id="upload-file" style="display: none" ng-click="uploadReport()">
                <button type="button" class="btn btn-outline-primary" onclick="$('#upload-file').click()">Upload
                </button>
            </div>
        </div>

        <div class="form-group mt-2">
            <label for="moveToInput">Move/Copy to:</label>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="1" id="moveToInput"/>
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="button"
                            ng-click="moveReports(getSelectedReports(), 'copy')">Copy
                    </button>
                </div>
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="button"
                            ng-click="moveReports(getSelectedReports(), 'move')">Move
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <table>
                <tbody>
                <tr ng-repeat="report in reports">
                    <td>
                        <input class="form-check-input" type="checkbox" ng-model="report.checked">
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-primary col" ng-click="runReport([report])">Run
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-primary col" ng-click="openReport([report])">Open
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-primary col" ng-click="openCloneModal([report])">Clone
                        </button>
                    </td>
                    <td ng-show="showOptions.ids">
                        {{report["storageId"]}}
                    </td>
                    <td>
                        <div class="report-path">{{report["path"] + report["name"]}}</div>
                        <div class="mb-3 ml-2" ng-show="showOptions.checkpoints && report['csvText'] !== ''">{{report["csvText"]}}</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Options Modal -->
<div class="modal fade" id="optionsModal" tabindex="-1" role="dialog" aria-labelledby="optionsModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="optionsModalLabel">Options</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body container">
                <form>
                    <div class="form-group form-check">
                        <input class="form-check-input" type="checkbox" value="" id="reportTransformationCheck"
                               ng-model="showOptions.ids">
                        <label class="form-check-label transform-label" for="reportTransformationCheck">
                            Show report storage IDs
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <input class="form-check-input" type="checkbox" value="" id="showCheckpointIds"
                               ng-model="showOptions.checkpoints">
                        <label class="form-check-label transform-label" for="showCheckpointIds">
                            Show checkpoint IDs
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="showOptions = {ids: false, checkpoints: false}">
                    Restore to defaults
                </button>
            </div>
        </div>
    </div>
</div>


<!-- Clone Report Modal -->
<div class="modal fade" id="cloneModal" tabindex="-1" role="dialog" aria-labelledby="optionsModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cloneModalLabel">Clone Report</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body container">
                <form>
                    <div class="form-group">
                        <label for="variableCsvInput">Variable CSV</label>
                        <textarea class="form-control" id="variableCsvInput" rows="5"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="reportInputMessage">Variable CSV</label>
                        <textarea class="form-control" id="reportInputMessage" rows="5"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="cloneReport()">Generate</button>
            </div>
        </div>
    </div>
</div>