.resizable-horizontal {
    resize: horizontal;
    overflow: auto;
}
.resizable-vertical {
    resize: vertical;
    overflow: auto;
}

body {
    font-size: 0.7rem !important;
    line-height: 1 !important;
}

table .form-control {
    padding: 0;
    border: 0;
    height: auto;
    font-size: 0.7rem;
}

.btn {
    font-size: 0.7rem !important;
}

.options-button {
    margin-top: 1rem;
    /*font-size: 1rem;*/
}

.form-control {
    font-size: 0.7rem !important;
}

.transform-label {
    font-size: 0.8rem;
}