.resizable-horizontal {
    resize: horizontal;
    overflow: auto;
}

.resizable-vertical {
    resize: vertical;
    overflow: auto;
}

body {
    font-size: 0.7rem !important;
    line-height: 1 !important;
}

table .form-control {
    padding: 0;
    border: 0;
    height: auto;
    font-size: 0.7rem;
}

.btn {
    font-size: 0.7rem !important;
}

.options-button {
    margin-top: 1rem;
    /*font-size: 1rem;*/
}

.form-control {
    font-size: 0.7rem !important;
}

.input-group-text {
    font-size: 0.7rem !important;
}

.transform-label {
    font-size: 0.8rem;
}

.report-path {
    font-size: 1rem;
    margin: 0.5em;
}

.diff_added {
    background: lawngreen;
}
.diff_deleted {
    background: orangered;
}

.notification {
    background: lightgrey;
}
.error_notification {
    background: indianred;
}