<div class="flex flex-column" id="container">
  <div class="compare-header p-2 w-100">
    <label>
      Compare method:
    </label>
    <select data-cy-compare="compareMethod" class="form-control w-fit" [(ngModel)]="nodeLinkStrategy" (ngModelChange)="changeNodeLinkStrategy()">
      @for (strategy of nodeLinkStrategyConst; track strategy) {
        <option [value]="strategy">{{ strategy|titlecase|strReplace: '_': ' ' }}</option>
      }
    </select>
    @if (views && currentView) {
      <app-view-dropdown [views]="views" [currentView]="currentView" (viewChanged)="changeView($event)"/>
    }
  </div>

  @if (compareData) {
    <app-compare-tree
      class="trees"
      [compareData]="compareData"
      [nodeLinkStrategy]="nodeLinkStrategy"
      (compareEvent)="syncLeftAndRight()"
    />
    <div class="text-diff-container pl-3 pb-2">
      @if (leftNode && rightNode && compareTreeComponent) {
        <div class="d-flex flex-row w-100">
          <div class="flex flex-column">
            <app-report-alert-message [report]="leftNode"/>
            <app-metadata-table class="w-50" [report]="leftNode"/>
            <app-messagecontext-table class="w-50" [report]="leftNode"/>
          </div>
          <div class="flex flex-column">
            <app-report-alert-message [report]="rightNode"/>
            <app-metadata-table class="w-50" [report]="rightNode"/>
            <app-messagecontext-table class="w-50" [report]="rightNode"/>
          </div>
        </div>
        <div class="diff-editor">
          <app-monaco-diff-editor
            [options]="diffOptions"
            [originalModelRequest$]="originalModelRequestSubject"
            [modifiedModelRequest$]="modifiedModelRequestSubject"
          />
        </div>
      }
    </div>
  }
</div>
