.fa-info-circle:hover {
  cursor: pointer;
}

.tabbed {
  background-color: #f3f3f4;
}

ul.nav {
  margin-bottom: 20px;
}

.nav-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: default;
}

.nav-link,
.nav-link a {
  color: #a7b1c2;
}

.nav-link.active,
.nav-link.active a {
  color: #495057;
}

a:hover {
  text-decoration: none;
}

.nav-item:hover {
  background-color: rgba(255, 255, 255, 0.9) !important;
}

.form-group {
  margin-left: 1rem;
  margin-right: 1rem;
}

.form-check {
  display: flex;
  align-items: center;
  padding-left: 0;
  gap: 0.5em;
}

.form-check .form-check-input {
  float: none;
  margin: 0;
}

.form-check .form-check-label {
  margin-bottom: 0;
}
