body {
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 0.7rem !important;
  line-height: 1 !important;
  background-color: #f3f3f4 !important;
  position: relative;
}

table .form-control {
  padding: 0;
  border: 0;
  height: auto;
  font-size: 0.7rem;
}

.btn {
  font-size: 0.7rem !important;
}

.options-button {
  margin-top: 1rem;
  /*font-size: 1rem;*/
}

.form-control {
  font-size: 0.7rem !important;
}

.input-group-text {
  font-size: 0.7rem !important;
}

.transform-label {
  font-size: 0.8rem;
}

.report-path {
  font-size: 1rem;
  margin: 0.5em;
}

.diff_added {
  background: lawngreen;
}
.diff_deleted {
  background: orangered;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info, .btn-info:active:focus, .btn-info:active:hover, .btn-info.active:hover, .btn-info.active:focus {
  background-color: #21b9bb;
  border-color: #21b9bb;
  outline: none !important;
}

.close {
  outline: none !important;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
  background-color: white;
}

.nav-item:hover {
  color: #676a6c;
  background-color: #e6e6e6;
  border: transparent;
}


.btn-info {
  border: 1px;
  background-color: #1ab394 !important;
  border-color: #1ab394 !important;

}

.btn-info:focus {
  outline: none !important;
  box-shadow: none !important;
  background-color: #23c6c8 !important;
}

.btn-info:hover {
  background-color: #23c6c8 !important;
  border-color: #23c6c8 !important;
}

.nav-tabs .nav-item .nav-link {
  color: #a7b1c2;
}

.nav-tabs .nav-item .nav-link.active {
  color: #555;
  border-left: transparent;
}

#ladybug-tabs {
  background-color: #f3f3f4;
}

.pre {
  display: grid;
}

.monaco-editor {
  position: absolute !important;
}
