.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.button-section {
  display: flex;
  flex-direction: column;
}

.button-section-title {
  color: grey;
  max-lines: 1;
  font-size: 0.6rem;
  text-align: center;
}

/* Height comes from class form-control */
.button-section-buttons {
  display: flex;
  flex-direction: row;
  column-gap: 0.3rem;
  align-items: center;
}

.button-divider {
  font-size: 2rem;
}

.button-download {
  height: 100%;
}

.checkbox {
  display: flex;
  flex-direction: row;
  column-gap: 0.3rem;
  align-items: center;
}

label {
  margin-bottom: 0;
}

/* height and border come from class form-control */
.rerun-result {
  display: flex;
  flex-direction: column;
  margin-left: 0.4rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  font-size: 10pt;
  justify-content: center;
}
