<ng-template #modal>
  <div class="modal-header">
    <h5 class="modal-title" id="settingsModal">Options</h5>
    <button id="debugSettingsModalClose" data-cy-settings="close" type="button" class="close"
            (click)="closeSettingsModal()">
      <span>&times;</span>
    </button>
  </div>

  <form [formGroup]="settingsForm" (change)="formHasChanged()">
    <div class="modal-body container">
      <div class="tabbed">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a data-cy-settings="nav-server" [class]="getNavClasses(GLOBAL)" (click)="selectNav(GLOBAL)">{{ GLOBAL }}</a>
          </li>
          <li class="nav-item">
            <a data-cy-settings="nav-client" [class]="getNavClasses(CLIENT)" (click)="selectNav(CLIENT)">{{ CLIENT }}</a>
          </li>
        </ul>
        @if (activeTab === GLOBAL) {
          <div class="form-group">
            <label>Report generator</label>
            <select class="form-control custom-select mr-sm-2" data-cy-settings="generatorEnabled"
              [formControlName]="generatorEnabledKey">
              <option [ngValue]="false">Disabled</option>
              <option [ngValue]="true">Enabled</option>
            </select>
          </div>
          <div class="form-group">
            <label>Report filter (regex)</label>
            <div class="input-group">
              <input data-cy-settings="regexFilter" type="search" [formControlName]="regexFilterKey" title="Example 1 (only store report when name is Hello World):
    Hello World

    Example 2 (only store report when name contains Hello or World):
    .*(Hello|World).*

    Example 3 (only store report when name doesn't start with Hello World):
    ^(?!Hello World).*" class="form-control"/>
            </div>
          </div>
          <div class="form-group">
            <label>Transformation <i class="fa fa-info-circle"
                                    title="To see the change of the transformation, please reopen the current report or open a new one."></i></label>
            <textarea class="form-control" rows="10" data-cy-settings-transformation
              [formControlName]="transformationKey"></textarea>
          </div>
        }
        @if (activeTab === CLIENT) {
          <div class="form-group">
            <label for="openLatestReports">Maximum number of reports shown</label>
            <div class="input-group">
              <input data-cy-settings="openLatestReports" type="number" class="form-control" [formControlName]="amountOfRecordsShownKey" id="openLatestReports" />
            </div>
          </div>
          <div class="form-group">
            <div title="Configure the amount of spacing in the report table">
              <label>Spacing for report table</label>
              <select data-cy-settings="spacingDropdown" class="form-control custom-select mr-sm-2"
                      [formControlName]="tableSpacingKey">
                @for (option of spacingOptions; track option) {
                  <option [value]="option"
                          [selected]="option === clientSettingsService.getTableSpacing()"><span>{{ option }}x</span></option>
                }
              </select>
            </div>
          </div>
          <div class="form-group form-check-inline">
            <div class="checkbox" title="When checked, the report transformation is applied when showing report XML">
              <input data-cy-settings-transformation-enabled class="form-check-input" type="checkbox" [formControlName]="transformationEnabledKey">
              <label class="form-check-label transform-label">
                Use transformation for report XML
              </label>
            </div>
          </div>
          <br>
          <div class="form-group form-check-inline">
            <div class="checkbox" title="When checked, debug tree can show multiple reports">
              <input data-cy-settings="showAmount" class="form-check-input" id="show-multiple"
                    type="checkbox" [formControlName]="showMultipleFilesKey">
              <label class="form-check-label transform-label" for="show-multiple">Show multiple reports in debug tree</label>
            </div>
          </div>
        }
      </div>
    </div>
    <div class="modal-footer">
      <button data-cy-settings="factoryReset" title="Reset and save factory settings" type="button" class="btn btn-info"
              (click)="factoryReset()"><i
        class="fa fa-refresh"></i></button>
      <button data-cy-settings="revertChanges" title="Revert changes" type="button" class="btn btn-info" (click)="loadSettings()"><i
        class="fa fa-undo"></i></button>
      <button data-cy-settings="saveChanges" title="Save changes" type="submit" id="saveTableSettings"
              class="btn btn-info" (click)="onClickSave()"><i class="fa fa-save"></i></button>
    </div>
  </form>
</ng-template>


<ng-template #unsavedChangesModal>
  <div class="modal-header">
    <h5 class="modal-title">Options</h5>
  </div>
  <div class="modal-body">
    <h3>You have unsaved changes, are you sure you want to close?</h3>
    <div class="d-flex flex-row justify-content-between">
      <button data-cy-debug-confirm="save" class="btn btn-success" (click)="saveAndClose()">Save and close</button>
      <button data-cy-debug-confirm="discard" class="btn btn-outline-danger" (click)="closeWithoutSaving()">Discard and close</button>
    </div>
  </div>
</ng-template>
