.fa-info-circle:hover {
  cursor: pointer;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*margin: 0 1rem 0 0;*/
  /*font-size: 10pt;*/
  cursor: default !important;
  height: fit-content;

  > input {
    margin-left: 0.25rem;
  }

  > label {
    margin-bottom: 0;
  }
}

.tabbed {
  background-color: #f3f3f4;
}

ul.nav {
  padding-bottom: 20px;
}

.nav-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: default;
}

.nav-link,
.nav-link a {
  color: #a7b1c2;
}

.nav-link.active,
.nav-link.active a {
  color: #495057;
}

a:hover {
  text-decoration: none;
}

.nav-item:hover {
  background-color: rgba(255, 255, 255, 0.9) !important;
}
