<div class="row">
    <button type="button" class="btn btn-outline-primary col-2" ng-click="$ctrl.expandAll()">Expand All</button>
    <button type="button" class="btn btn-outline-primary col-2" ng-click="$ctrl.collapseAll()">Collapse All
    </button>
    <button type="button" class="btn btn-outline-primary col-2" ng-click="$ctrl.closeAll()">Close All</button>
    <div class="input-group col-md-2">
        <div class="input-group-btn">
            <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Download Tree <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#" ng-click="$ctrl.downloadReports(true, true)">Reports & Messages</a></li>
                <li><a href="#" ng-click="$ctrl.downloadReports(false, true)">Reports</a></li>
                <li><a href="#" ng-click="$ctrl.downloadReports(true, false)">Messages</a></li>
            </ul>
        </div>
    </div>
</div>
<div id="tree"></div>