<div class="px-1 pt-1" id="ladybug-tabs">
  <ul class="nav nav-tabs">
    <li data-cy-nav-tab="debugTab" class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="debugComponentPath">Debug</a>
    </li>
    <li data-cy-nav-tab="testTab" class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="testComponentPath">Test</a>
    </li>

    @for (tab of tabs; track tab) {
      <li class="nav-item" [attr.data-cy-nav-tab]="tab.key">
        <a class="nav-link" routerLinkActive="active" [routerLink]="tab.path">
          <span>{{ tab.key }}</span>
          <i class="bi bi-x close-tab" (click)="closeTabEvent(tab, $event)"></i>
        </a>
      </li>
    }
    <li class="version" id="version">
      <img ngSrc="favicon.ico" alt="" width="64" height="64" class="mascot">
      <a>v{{ frontendVersion }}</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>

<app-toast></app-toast>
