<!--Debug panel-->
<div>
    <div class="resizable-vertical">
        <metadata-table on-select-relay="table2tree"></metadata-table>
    </div>
    <div class="row">
        <!--    Treeview panel-->
        <!--        TODO: Add expand collapse download and close all buttons-->
        <div class="col resizable-horizontal">
            <report-tree on-add-relay="table2tree" on-select-relay="tree2display" storage="storage"></report-tree>
        </div>
        <!-- Content panel-->
        <div class="col">
            <report-display on-select-relay="tree2display" storage="storage" apply-transformer="table2tree.transformationEnabled"></report-display>
        </div>
    </div>
</div>