<!--Debug panel-->
<div>
    <div class="resizable-vertical">
        <metadata-table on-select-relay="table2tree"></metadata-table>
    </div>
    <div class="row">
        <!--    Treeview panel-->
        <!--        TODO: Add expand collapse download and close all buttons-->
        <div class="col resizable-horizontal">
            <report-tree on-add-relay="table2tree" on-select-relay="tree2display" storage="storage"></report-tree>
        </div>
        <!-- Content panel-->
        <div class="col">
            <report-display on-select-relay="tree2display" storage="storage"></report-display>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="optionsModal" tabindex="-1" role="dialog" aria-labelledby="optionsModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="optionsModalLabel">Options</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body container">
                <form>
                    <div class="form-group">
                        <label for="generatorEnabledSelect">Report generator</label>
                        <select class="form-control custom-select mr-sm-2" id="generatorEnabledSelect"
                                ng-model="options['generatorEnabled']">
                            <option ng-value="true">Enabled</option>
                            <option ng-value="false">Disabled</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="reportFilterInput">Report filter (regex)</label>
                        <input type="text" class="form-control" id="reportFilterInput"
                               ng-model="options['regexFilter']">
                    </div>
                    <div class="form-group">
                        <label for="openLatestReports">Open latest reports</label>
                        <div class="input-group">
                            <input type="number" class="form-control" placeholder="10" ng-model="options['openLatest']"
                                   id="openLatestReports"/>
                            <div class="input-group-append">
                                <button class="btn btn-outline-primary" type="button" ng-click="openLatestReports(options['openLatest'])">Open</button>
                            </div>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="openReportCheckbox">
                            <label class="form-check-label" for="openReportCheckbox">
                                Exclude reports with empty report.xml
                            </label>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="openInProgressNo">Open report in progress number</label>
                        <div class="input-group">
                            <input type="number" class="form-control" placeholder="1" id="openInProgressNo"
                                   ng-model="options['openInProgress']"/>
                            <div class="input-group-append">
                                <button class="btn btn-outline-primary" type="button">Open</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-check">
                        <input class="form-check-input" type="checkbox" value="" id="reportTransformationCheck"
                               ng-model="options['transformationEnabled']">
                        <label class="form-check-label transform-label" for="reportTransformationCheck">
                            Report.xml Transformations
                        </label>
                    </div>
                    <div class="form-group" ng-show="options['transformationEnabled']">
                        <label for="transformationTextarea">Transformation</label>
                        <textarea class="form-control" id="transformationTextarea"
                                  rows="10">{{options['transformation']}}</textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="updateOptions()">Reset</button>
                <button type="button" class="btn btn-primary" ng-click="saveOptions()">Save changes</button>
            </div>
        </div>
    </div>
</div>