<div class="box">
  Here are the filters
  <table>
    @for (urlFilter of urlFilters; track urlFilter.metadataName) {
      <tr>
        <td [attr.data-cy-debug-url-filter-key]="urlFilter.metadataName">{{ urlFilter.metadataName }}</td>
        <td [attr.data-cy-debug-url-filter-value]="urlFilter.value">{{ urlFilter.value }}</td>
      </tr>
    }
  </table>
  <div class="row top">
    <div class="w-100 h-100">
      @if (views && currentView) {
        <app-table
          [views]="views"
          [currentView]="currentView"
          [filtersFromUrl]="urlFilters"
          (openReportEvent)="addReportToTree($event)"
          (viewChange)="onViewChange($event)"
        ></app-table>
      }
    </div>
  </div>
  <div class="border-bottom"></div>
  <div id="bottom-half" class="row bottom mb-0 pb-0 w-100">
    @if (currentView) {
      <app-debug-report #reportComponent></app-debug-report>
    }
  </div>
</div>
