<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans   http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	"
	>

	<context:component-scan base-package="nl.nn.testtool"/>

	<!-- Use prototype for JUnit tests to reset settings between tests and when run in parallel prevent one test -->
	<!-- that alters a setting to influence another test -->
	<bean name="testTool" class="nl.nn.testtool.TestTool" scope="prototype">
		<property name="debugStorage">
			<ref bean="debugStorage"/>
		</property>
	</bean>

	<bean
		name="debugStorage"
		class="nl.nn.testtool.storage.database.DatabaseStorage" autowire="byName" depends-on="ladybugDatabaseChangelog">
		<property name="table" value="LADYBUG"/>
		<property name="metadataExtractor" ref="metadataExtractor"/>
	</bean>

	<!-- Without connection pooling (takes much longer to run all tests) -->
	<!-- bean name="dataSource" class="org.h2.jdbcx.JdbcDataSource">
		<property name="URL" value="jdbc:h2:./data/database-storage/ladybug"/>
	</bean -->

	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="org.h2.Driver"/>
		<property name="url" value="jdbc:h2:./data/database-storage/ladybug"/>
	</bean>

	<bean name="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<bean name="ladybugDatabaseChangelog" class="liquibase.integration.spring.SpringLiquibase">
		<property name="dataSource" ref="dataSource" />
		<property name="changeLog" value="classpath:ladybug/DatabaseChangelog.xml" />
	</bean>

</beans>
