<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	"
	>

	<!-- Use prototype for JUnit tests to reset settings between tests and when run in parallel prevent one test -->
	<!-- that alters a setting to influence another test -->
	<bean name="testTool" class="nl.nn.testtool.TestTool" scope="prototype">
		<property name="debugStorage">
			<ref bean="debugStorage"/>
		</property>
	</bean>

	<bean name="debugStorage" class="nl.nn.testtool.storage.database.DatabaseStorage" autowire="byName" init-method="init">
		<property name="table" value="LADYBUG"/>
		<property name="metadataColumns">
			<list>
				<value>storageId</value>
				<value>endTime</value>
				<value>duration</value>
				<value>name</value>
				<value>correlationId</value>
				<value>status</value>
				<value>numberOfCheckpoints</value>
				<value>estimatedMemoryUsage</value>
				<value>storageSize</value>
			</list>
		</property>
		<property name="integerColumns">
			<list>
				<value>storageId</value>
				<value>numberOfCheckpoints</value>
			</list>
		</property>
		<property name="longColumns">
			<list>
				<value>estimatedMemoryUsage</value>
				<value>storageSize</value>
			</list>
		</property>
		<property name="timestampColumns">
			<list>
				<value>endTime</value>
			</list>
		</property>
		<property name="metadataExtractor" ref="metadataExtractor"/>
	</bean>

	<bean name="metadataExtractor" class="nl.nn.testtool.MetadataExtractor">
		<property name="extraMetadataFieldExtractors">
			<list>
				<bean class="nl.nn.testtool.metadata.StatusMetadataFieldExtractor"/>
			</list>
		</property>
	</bean>

	<bean name="dataSource" class="org.h2.jdbcx.JdbcDataSource">
		<property name="URL" value="jdbc:h2:./data/database-storage/ladybug"/>
	</bean>

	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<bean name="dbmsSupport" class="nl.nn.testtool.storage.database.DbmsSupport" autowire="byName" init-method="init"/>

	<bean name="liquibase" class="liquibase.integration.spring.SpringLiquibase">
		<property name="dataSource" ref="dataSource" />
		<property name="changeLog" value="classpath:LadybugDatabaseChangelog.xml" />
	</bean>

</beans>
