<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans   http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	"
	default-lazy-init="true"
	>

	<context:component-scan base-package="org.wearefrank.ladybug"/>

	<!-- Use prototype for JUnit tests to reset settings between tests and when run in parallel prevent one test -->
	<!-- that alters a setting to influence another test -->
	<bean name="testTool" class="org.wearefrank.ladybug.TestTool" scope="prototype">
		<property name="debugStorage">
			<ref bean="debugStorage"/>
		</property>
	</bean>

	<bean name="debugStorage" class="org.wearefrank.ladybug.storage.file.Storage" autowire="byName">
		<property name="reportsFilename" value="data/file-storage/ladybug.tts"/>
		<property name="metadataFilename" value="data/file-storage/ladybug.ttm"/>
		<property name="metadataExtractor">
			<bean class="org.wearefrank.ladybug.MetadataExtractor"/>
		</property>
	</bean>

</beans>
