<div class="row">
  <div class="resizable-horizontal w-25 pr-2 border-right">
    <div class="m-2" id="tree"></div>
  </div>
  <div class="col">
    <div class="row">
      <app-button [icon]="'fa fa-refresh'" [title]="'Refresh'"></app-button>
      <app-button [icon]="'fa fa-play'" [title]="'Run'"></app-button>
      <app-button [icon]="'fa fa-repeat'" [title]="'Reset'"></app-button>
      <app-button [icon]="'fa fa-cog'" [title]="'Options'"></app-button>
      <app-button [title]="'Select All'" [text]="'Select All'"></app-button>
      <app-button [title]="'Deselect All'" [text]="'Deselect All'"></app-button>
      <app-button [icon]="'fa fa-trash'" [title]="'Delete All'"></app-button>
      <div class="row">
        <div class="input-group col-xl-1 px-0">
          <div class="input-group-btn">
            <button type="button" class="btn btn-info my-2 mx-1 dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"><i class="fa fa-download px-2"></i><span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a class="p-1" href="#" ng-click="downloadReports(getSelectedReports(), true, true)">Reports & Messages</a></li>
              <li><a href="#" ng-click="downloadReports(getSelectedReports(), false, true)">Reports</a></li>
              <li><a href="#" ng-click="downloadReports(getSelectedReports(), true, false)">Messages</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col pl-1">
        <app-button [icon]="'fa fa-upload'" [title]="'Upload'"></app-button>
      </div>
    </div>

    <div class="form-group mt-2">
      <label for="moveToInput">Move/Copy to:</label>
      <div class="input-group">
        <input type="text" class="form-control mr-1" placeholder="1" id="moveToInput"/>
          <app-button class="mt-0" [icon]="'fa fa-copy'" [title]="'Copy'"></app-button>
          <app-button class="mt-0" [title]="'Move'" [text]="'Move'"></app-button>
      </div>
    </div>
    <div class="row progress" ng-show="progressBar.max > 0">
      <div class="progress-bar" role="progressbar"
           aria-valuenow="0" aria-valuemin="0"
           aria-valuemax="100"></div>
    </div>
    <div class="row">
      <table>
        <tbody>
        <tr ng-repeat="report in reports" class="form-inline">
          <td>
            <input class="form-check-input" type="checkbox" ng-model="report.checked">
          </td>
          <td>
            <app-button [icon]="'fa fa-play'" [title]="'Run'"></app-button>
          </td>
          <td>
            <app-button [icon]="'fa fa-folder-open'" [title]="'Open'"></app-button>
          </td>
          <td>
            <app-button [icon]="'fa fa-clone'" [title]="'Clone'"></app-button>
          </td>
          <td ng-show="reranReports.hasOwnProperty(report.storageId)">
<!--            <app-button [icon]="'fa fa-not-equal'" [title]="'Compare (Not Implemented)'"></app-button>-->
          </td>
          <td ng-show="reranReports.hasOwnProperty(report.storageId)">
<!--            <app-button [icon]="'fa fa-exchange-alt'" [title]="'Replace'"></app-button>-->
          </td>
          <td ng-show="showOptions.ids">
          </td>
          <td>
            <div class="report-path"></div>
            <div class="mb-3 ml-2" ng-show="showOptions.checkpoints && report['csvText'] !== ''"></div>
          </td>
          <td ng-show="reranReports.hasOwnProperty(report.storageId)">
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<!-- Options Modal -->
<div class="modal fade" id="optionsModal" tabindex="-1" role="dialog" aria-labelledby="optionsModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="optionsModalLabel">Options</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form style="text-align: center">
          <div class="form-group form-check-inline">
            <input class="form-check-input" type="checkbox" value="" id="reportTransformationCheck"
                   ng-model="showOptions.ids">
            <label class="form-check-label transform-label" for="reportTransformationCheck">
              Show report storage IDs
            </label>
          </div>
          <div class="form-group form-check-inline">
            <input class="form-check-input" type="checkbox" value="" id="showCheckpointIds"
                   ng-model="showOptions.checkpoints">
            <label class="form-check-label transform-label" for="showCheckpointIds">
              Show checkpoint IDs
            </label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" ng-click="showOptions = {ids: false, checkpoints: false}">
          Restore to defaults
        </button>
      </div>
    </div>
  </div>
</div>


<!-- Clone Report Modal -->
<div class="modal fade" id="cloneModal" tabindex="-1" role="dialog" aria-labelledby="optionsModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cloneModalLabel">Clone Report</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body container">
        <form>
          <div class="form-group">
            <label for="variableCsvInput">Variable CSV</label>
            <textarea class="form-control" id="variableCsvInput" rows="5"></textarea>
          </div>
          <div class="form-group">
            <label for="reportInputMessage">Variable CSV</label>
            <textarea class="form-control" id="reportInputMessage" rows="5"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" ng-click="cloneReport()">Generate</button>
      </div>
    </div>
  </div>
</div>
