<div class="row">
  <app-button [icon]="'fa fa-repeat'" [title]="'Rerun'"></app-button>
  <app-button [icon]="'fa fa-edit'" [title]="'Edit'" (click)="monacoEditorComponent.toggleEdit()"></app-button>
  <app-button [title]="'Read-Only'" [text]="'Read Only'"></app-button>
  <app-button [icon]="'fa fa-save'" [title]="'Save'" (click)="openModal(saveChanges)"></app-button>
  <app-dropdown [icon]="'fa fa-download'" [title]="'Download'"
                [items]="['Reports & Messages', 'Reports', 'Messages']"></app-dropdown>
  <app-dropdown [icon]="'fa fa-copy'" [title]="'Copy'" [items]="['Test']"></app-dropdown>
  <app-button [icon]="'fa fa-compress'" [title]="'Collapse all'"></app-button>
  <app-button [icon]="'fa fa-expand'" [title]="'Expand all'"></app-button>
  <app-button [icon]="'fa fa-times'" [title]="'Close'"></app-button>
</div>

<div *ngIf="displayReport" class="form-row m-2">
                <span class="col-md-2">
                    Stub Strategy:
                </span>
  <div class="form-group col-md-4">
    <select class="form-control">
      <option *ngFor="let strategy of stubStrategies" value="{{strategy}}">{{strategy}}</option>
    </select>
  </div>
</div>

<div class="h-25">
  <app-monaco-editor *ngIf="displayReport" [value]="report.root ? report.ladybug.message : ''"></app-monaco-editor>
</div>

<div *ngIf="displayReport">
  <table class="table col-md-4 border">
    <tr>
      <td>Name</td>
      <td>{{report.ladybug.name}}</td>
    </tr>
    <tr *ngIf="report.root">
      <td>Description</td>
      <td>{{report.ladybug.description}}</td>
    </tr>
    <tr *ngIf="!report.root">
      <td>Thread name</td>
      <td>{{ report.ladybug.threadName}}</td>
    </tr>
    <tr *ngIf="!report.root">
      <td>Source class name</td>
      <td>{{ report.ladybug.sourceClassName}}</td>
    </tr>
    <tr *ngIf="!report.root">
      <td>Message class name</td>
      <td>{{ report.ladybug.messageClassName}}</td>
    </tr>
    <tr>
      <td>Path</td>
      <td>{{ report.ladybug.path}}</td>
    </tr>
    <tr *ngIf="!report.root">
      <td>CheckpointUID</td>
      <td>{{ report.ladybug.uid}}</td>
    </tr>
    <tr *ngIf="!report.root">
      <td>Encoding</td>
      <td>{{ report.ladybug.encoding}}</td>
    </tr>
    <tr *ngIf="!report.root">
      <td>Number of characters</td>
      <td>{{ report.ladybug.message.length}}</td>
    </tr>
    <tr *ngIf="report.root">
      <td>Transformation</td>
      <td>{{ report.ladybug.transformation}}</td>
    </tr>
    <tr *ngIf="report.root">
      <td>StorageId</td>
      <td>{{ report.ladybug.storageId}}</td>
    </tr>
    <tr *ngIf="report.root">
      <td>Storage</td>
      <td>{{ report.ladybug.storage}}</td>
    </tr>
    <tr>
      <td>Estimated memory usage</td>
      <td>{{ report.ladybug.estimatedMemoryUsage}}</td>
    </tr>
    <tr *ngIf="report.root">
      <td>CorrelationId</td>
      <td>{{ report.ladybug.correlationId}}</td>
    </tr>
  </table>
</div>

<!-- Display report edit -->
<div *ngIf="editing">
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" placeholder="Name">
  </div>
  <div class="form-group">
    <label>Description</label>
    <textarea class="form-control" placeholder="Description"></textarea>
  </div>
  <div class="form-group">
    <label>Path</label>
    <input type="text" class="form-control" placeholder="/path/to/report/">
  </div>
  <div class="form-group">
    <label>Transformation</label>
    <div class="form-group"
         style="height: 400px; width: 600px; border: 1px solid #ced4da; border-radius: .25rem;"></div>
  </div>
  <div class="form-group">
    <label>Variables</label>
    <div class="form-group"
         style="height: 100px; width: 600px; border: 1px solid #ced4da; border-radius: .25rem;"></div>
  </div>
</div>

<ng-template #saveChanges let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Would you like to discard changes?</h5>
    <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div ng-repeat="group in $ctrl.diff">
      <h5></h5>
      <pre>
                        <span ng-repeat="word in group.diff"
                              ng-class="{diff_added: word[0] == 1, diff_deleted: word[0] == -1}"></span>
                    </pre>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" ng-click="$ctrl.saveEditField(false)">Discard Changes
    </button>
    <button type="button" class="btn btn-info" ng-click="$ctrl.saveEditField(true)">Save changes</button>
  </div>
</ng-template>
