<div class="d-flex flex-column mb-2">
  <div class="title">Metadata:</div>
  <div data-cy-metadata-table="table" class="metadata-table">
    <div class="table-col first-table-col">
      <div class="key">Name</div>
      <div data-cy-metadata-table="reportname" class="value" [appCopyTooltip]="report.name">{{ report.name }}</div>
    </div>
    @if (ReportUtil.isReport(report)) {
      <div class="table-col">
        <div class="key">Description</div>
        <div class="value" [appCopyTooltip]="report.description">{{ report.description }}</div>
      </div>
      <div class="table-col">
        <div class="key">Path</div>
        <div class="value" [appCopyTooltip]="report.path">{{ report.path }}</div>
      </div>
      <div class="table-col">
        <div class="key">Transformation</div>
        <div class="value" [appCopyTooltip]="report.transformation">{{ report.transformation }}</div>
      </div>
      <div class="table-col">
        <div class="key">StorageId</div>
        <div class="value" data-cy-metadata="storageId" [appCopyTooltip]="report.storageId">{{ report.storageId }}</div>
      </div>
      <div class="table-col">
        <div class="key">Storage</div>
        <div class="value" [appCopyTooltip]="report.storageName">{{ report.storageName }}</div>
      </div>
      <div class="table-col">
        <div class="key">Estimated memory usage</div>
        <div class="value" [appCopyTooltip]="report.estimatedMemoryUsage">{{ report.estimatedMemoryUsage }}</div>
      </div>
      <div class="table-col">
        <div class="key">CorrelationId</div>
        <div class="value" [appCopyTooltip]="report.correlationId">{{ report.correlationId }}</div>
      </div>
    } @else if (ReportUtil.isCheckPoint(report)) {
      <div class="table-col">
        <div class="key">Type</div>
        <div class="value" [appCopyTooltip]="report.typeAsString">{{ report.typeAsString }}</div>
      </div>
      <div class="table-col">
        <div class="key">Thread name</div>
        <div class="value" [appCopyTooltip]="report.threadName">{{ report.threadName }}</div>
      </div>
      <div class="table-col">
        <div class="key">Source class name</div>
        <div class="value" [appCopyTooltip]="report.sourceClassName">{{ report.sourceClassName }}</div>
      </div>
      <div class="table-col">
        <div class="key">Message class name</div>
        <div class="value" [appCopyTooltip]="report.messageClassName">{{ report.messageClassName }}</div>
      </div>
      <div class="table-col">
        <div class="key">CheckpointUID</div>
        <div class="value" data-cy-metadata="checkpointUid" [appCopyTooltip]="report.uid">{{ report.uid }}</div>
      </div>
      <div class="table-col">
        <div class="key">Level</div>
        <div class="value" [appCopyTooltip]="report.level">{{ report.level }}</div>
      </div>
      <div class="table-col">
        <div class="key">Encoding</div>
        <div class="value" [appCopyTooltip]="report.encoding">{{ report.encoding }}</div>
      </div>
      <div class="table-col">
        <div class="key">Number of characters</div>
        @if (report.message && report.message !== null && report.message.length > 0) {
          <div class="value" [appCopyTooltip]="report.message.length">{{ report.message.length }}</div>
        } @else {
          <div class="value"></div>
        }
      </div>
    }
  </div>
</div>
