<div class="row" id="details-row">
    <button type="button" class="btn btn-outline-primary col" ng-click="$ctrl.rerun()">Rerun</button>
    <button type="button" class="btn btn-outline-primary col" ng-click="$ctrl.toggleEdit()" id="details-edit">
        Edit
    </button>

    <div class="input-group col">
        <div class="input-group-btn">
            <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Download <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#" ng-click="$ctrl.downloadReports(true, true)">Report & Message</a></li>
                <li><a href="#" ng-click="$ctrl.downloadReports(false, true)">Report</a></li>
                <li><a href="#" ng-click="$ctrl.downloadReports(true, false)">Message</a></li>
            </ul>
        </div>
    </div>
    <div class="input-group col">
        <div class="input-group-btn">
            <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Copy <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li ng-repeat="(key, value) in $ctrl.availableStorages">
                    <a href="#" ng-click="$ctrl.copyReport(key)">
                        {{value}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <button type="button" class="btn btn-outline-primary col" ng-click="$ctrl.onSelectRelay.expand()">Expand</button>
    <button type="button" class="btn btn-outline-primary col" ng-click="$ctrl.onSelectRelay.collapse()">Collapse</button>
    <button type="button" class="btn btn-outline-primary col" ng-click="$ctrl.onSelectRelay.close()">Close</button>
</div>
<div class="form-row">
                <span class="col-md-2">
                    Stub Strategy:
                </span>
    <div class="form-group col-md-4">
        <select class="form-control" ng-options="strategy for strategy in $ctrl.stubStrategies" ng-model="$ctrl.stubStrategySelect">
        </select>
    </div>
</div>
<pre id="code-wrapper">
    <code id="code" class="xml">
        {{$ctrl.reportDetails.text}}
    </code>
</pre>
<table>
    <tbody>
    <tr ng-repeat="(key, value) in $ctrl.reportDetails.values">
        <td>{{key}}</td>
        <td>{{value}}</td>
    </tr>
    </tbody>
</table>