<div class="row" id="{{'details-row' + $ctrl.id}}">
    <button type="button" class="btn btn-outline-primary col" ng-click="$ctrl.rerun()">Rerun</button>
    <button type="button" class="btn btn-outline-primary col" ng-click="$ctrl.toggleEdit()"
            id="{{'details-edit' + $ctrl.id}}">
        Edit
    </button>
    <button type="button" class="btn btn-outline-primary col" ng-click="$ctrl.saveEditField(true)"
            id="{{'save' + $ctrl.id}}" ng-show="$ctrl.editing">
        Save
    </button>
    <div class="input-group col">
        <div class="input-group-btn">
            <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Download <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#" ng-click="$ctrl.downloadReports(true, true)">Report & Message</a></li>
                <li><a href="#" ng-click="$ctrl.downloadReports(false, true)">Report</a></li>
                <li><a href="#" ng-click="$ctrl.downloadReports(true, false)">Message</a></li>
            </ul>
        </div>
    </div>
    <div class="input-group col">
        <div class="input-group-btn">
            <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Copy <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li ng-repeat="(key, value) in $ctrl.availableStorages">
                    <a href="#" ng-click="$ctrl.copyReport(key)">
                        {{value}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <button type="button" class="btn btn-outline-primary col" ng-click="$ctrl.onSelectRelay.expand()">Expand</button>
    <button type="button" class="btn btn-outline-primary col" ng-click="$ctrl.onSelectRelay.collapse()">Collapse
    </button>
    <button type="button" class="btn btn-outline-primary col" ng-click="$ctrl.onSelectRelay.close()">Close</button>
</div>
<div class="form-row">
                <span class="col-md-2">
                    Stub Strategy:
                </span>
    <div class="form-group col-md-4">
        <select class="form-control" ng-options="strategy for strategy in $ctrl.stubStrategies"
                ng-model="$ctrl.stubStrategySelect">
        </select>
    </div>
</div>
<div id="{{'notifications' + $ctrl.id}}">
    <div class="alert" ng-repeat="(key, notification) in $ctrl.reportDetails.notifications"
         ng-class="{'alert-secondary': notification.level === 'ok', 'alert-danger': notification.level === 'error'}">
        {{notification.text}}
        <i class="fa fa-times" style="float: right" ng-click="$ctrl.close_notification(key)"></i>
    </div>
</div>

<!-- Display highlighted code -->
<div ng-show="!$ctrl.editing">
    <div ng-show="$ctrl.reportDetails.hasOwnProperty('diff')" id="{{'diff-wrapper' + $ctrl.id}}">
        <span>Diff</span>
        <table class="table table-striped">
            <tbody>
                <tr ng-repeat="line in $ctrl.reportDetails.diff" class="xml"
                      ng-class="{diff_added: line[0] == $ctrl.reportDetails.diffIdentifier, diff_deleted: line[0] == -1 * $ctrl.reportDetails.diffIdentifier}">
                    <td>{{((line[0] !== -1 * $ctrl.reportDetails.diffIdentifier) ? line[1] : '')}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <pre ng-if="!$ctrl.reportDetails.hasOwnProperty('diff')" id="{{'code-wrapper' + $ctrl.id}}">
        <span>Highlighted code</span>
        <code id="{{'code' + $ctrl.id}}" class="xml">
            {{$ctrl.reportDetails.text}}
        </code>
    </pre>
</div>

<!-- Display Monaco for Checkpoint Editing -->
<div ng-show="$ctrl.editing && !$ctrl.displayingReport" id="{{'checkpoint-monaco' + $ctrl.id}}" class="form-group"
     style="height: 300px; min-width: 300px;"></div>

<!-- Display report edit -->
<div ng-show="$ctrl.editing && $ctrl.displayingReport">
    <div class="form-group">
        <label for="{{'editName' + $ctrl.id}}">Name</label>
        <input type="text" class="form-control" id="{{'editName' + $ctrl.id}}" placeholder="Name">
    </div>
    <div class="form-group">
        <label for="{{'editDescription' + $ctrl.id}}">Description</label>
        <textarea class="form-control" id="{{'editDescription' + $ctrl.id}}" placeholder="Description"></textarea>
    </div>
    <div class="form-group">
        <label for="{{'editPath' + $ctrl.id}}">Path</label>
        <input type="text" class="form-control" id="{{'editPath' + $ctrl.id}}" placeholder="/path/to/report/">
    </div>
    <div class="form-group">
        <label for="{{'editorTransformation' + $ctrl.id}}">Transformation</label>
        <div id="{{'editorTransformation' + $ctrl.id}}" class="form-group"
             style="height: 400px; width: 600px; border: 1px solid #ced4da; border-radius: .25rem;"></div>
    </div>
    <div class="form-group">
        <label for="{{'editorVariables' + $ctrl.id}}">Variables</label>
        <div id="{{'editorVariables' + $ctrl.id}}" class="form-group"
             style="height: 100px; width: 600px; border: 1px solid #ced4da; border-radius: .25rem;"></div>
    </div>
</div>
<table>
    <tbody>
    <tr ng-repeat="(key, value) in $ctrl.reportDetails.values">
        <td>{{key}}</td>
        <td>{{value}}</td>
    </tr>
    </tbody>
</table>

<div class="modal" tabindex="-1" role="dialog" id="{{'modal' + $ctrl.id}}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Would you like to discard changes?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div ng-repeat="group in $ctrl.diff">
                    <h5>{{group.text}}</h5>
                    <pre>
                        <span ng-repeat="word in group.diff"
                              ng-class="{diff_added: word[0] == 1, diff_deleted: word[0] == -1}">{{word[1]}}</span>
                    </pre>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="$ctrl.saveEditField(false)">Discard Changes
                </button>
                <button type="button" class="btn btn-primary" ng-click="$ctrl.saveEditField(true)">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>