@if (activeFilters) {
  <div class="d-flex flex-row gap-2">
    @for (filter of activeFilters; track filter.metadataName; let isFirst = $first) {
      <div class="filter-container d-flex align-items-center rounded-pill px-3 py-2 text-white gap-1">
        <div class="d-flex flex-row"
            [attr.data-cy-active-filter]="filter.metadataName"
            [title]="'Active filter for ' + filter.metadataName + exactPhrase(filter)">
          {{ safeColumnNameToLabel(filter.metadataName) | shortenedTableHeader | titlecase }}: {{ filter.shownValue }}
        </div>
        @if (filter.exact) {
          <div class="exact" data-cy-active-filter-exact>
            <i class="bi bi-eye-slash"></i>
          </div>
        }
      </div>
    }
  </div>
}
