@if (activeFilters) {
  <div class="d-flex flex-row">
    @for (filter of activeFilters | dictionary; track filter; let isFirst = $first) {
        @if (filter.value !== '') {
          <span [attr.data-cy-active-filter]="filter.key" class="filter-container d-flex align-items-center rounded-pill px-3 py-2 text-white "
                [title]="'Active filter for ' + filter.key">
          {{ safeColumnNameToLabel(filter.key) | shortenedTableHeader | titlecase }}: {{ filter.value }}
          </span>
        }
    }
  </div>
}
